


/*navbar section*/

/*.navbar-nav>.a:hover{
	color:#54e346;
}*/

/*banner section*/
.banner{
	background-image:url('../img/sss.jpg');
	height:90vh;
	opacity:0.7;
	/*width:100%;*/
	display:flex;

}
/*.banner{
	width:100%;
}*/
.Heading{
	text-align:center;
	padding:200px;
	color:#000;
 font-family: 'Montserrat', sans-serif;
}
span{
	color:#54e346;
}



.container:after{
	clear:both;
	content:"";
	display:block;
}


.max-width {
    width:100%;
   
}

/*features*/
.feature{
	padding:7% 15%;
	/*z-index:1;
	position:relative;*/
	background-color:#2e5a1c;
}

.feature-title{
	font-size:1.5rem;
	text-align: center;
}

.features-box{
	text-align:center;
	padding:5%;
}
.icon{
color:#000;
margin-bottom:1rem;
font-size:2rem;
text-align:center;
margin: auto;
}
.icon:hover{
	color:#ff4c68;
}
#press{
	margin-top:50px;

}
#footer{
	background-color:#000;
	text-align:center;
	padding:20px;
}
#footer:after{
	clear:both;
	content:"";
	display:block;
}
.row:after{
	clear:both;
	content:"";
	display:block;
}
.banner1{
	background-image:url('../img/co.jpg');
	height:60vh;
}